# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


4-semester/01-lab-genfunction/input.txt
4-semester/01-lab-genfunction/output.txt
4-semester/01-lab-genfunction/*.exe

4-semester/02-lab-turing/turing-machine-visualizer/*