# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app


1-semester/01-lab-boolean/home.in
1-semester/01-lab-boolean/home.out
1-semester/01-lab-boolean/*.exe
1-semester/01-lab-boolean/*.out

1-semester/02-lab-combinatorics/home.in
1-semester/02-lab-combinatorics/home.out
1-semester/02-lab-combinatorics/*.exe
1-semester/02-lab-combinatorics/*.out

1-semester/03-lab-coding/home.in
1-semester/03-lab-coding/home.out
1-semester/03-lab-coding/*.exe
1-semester/03-lab-coding/*.out
1-semester/03-lab-coding/ArithmeticCoding/.idea
1-semester/03-lab-coding/ArithmeticCoding/out
1-semester/03-lab-coding/ArithmeticCoding/*.iml
1-semester/03-lab-coding/ArithmeticDecoding/.idea
1-semester/03-lab-coding/ArithmeticDecoding/out
1-semester/03-lab-coding/ArithmeticDecoding/*.iml


2-semester/04-lab-automata/home.in
2-semester/04-lab-automata/home.out
2-semester/04-lab-automata/*.exe
2-semester/04-lab-automata/*.out

2-semester/05-lab-cf-grammar/home.in
2-semester/05-lab-cf-grammar/home.out
2-semester/05-lab-cf-grammar/*.exe
2-semester/05-lab-cf-grammar/*.out


3-semester/01-lab-graph/input.txt
3-semester/01-lab-graph/output.txt
3-semester/01-lab-graph/*.exe
3-semester/01-lab-graph/*.out

3-semester/02-lab-matroids/input.txt
3-semester/02-lab-matroids/output.txt
3-semester/02-lab-matroids/*.exe
3-semester/02-lab-matroids/*.out


4-semester/01-lab-genfunction/input.txt
4-semester/01-lab-genfunction/output.txt
4-semester/01-lab-genfunction/*.exe

4-semester/02-lab-turing/input.txt
